# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store

*.app
bin/multiIPCameTrackerDebug.app
*obj/*
*.exp
*.sdf
*.opensdf
._.DS_Store
._addons.make
._multiIPCameTracker.xcodeproj
bin/._.DS_Store
bin/data/._.DS_Store
src/._cvTracker.h
src/._Constants.h
src/._main.cpp
src/._ofApp.cpp
multiIPCameTracker.xcodeproj/._project.xcworkspace
multiIPCameTracker.xcodeproj/project.xcworkspace/xcuserdata/james.xcuserdatad/UserInterfaceState.xcuserstate
